<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AdageTracker.Slack.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <AdageTracker.Slack.Properties.Settings>
            <setting name="SLACK_PASSWORD" serializeAs="String">
                <value>Baseball3!3!</value>
            </setting>
            <setting name="SLACK_USERNAME" serializeAs="String">
                <value>mmyers@adagetechnologies.com</value>
            </setting>
            <setting name="SLACK_CLIENT_ID" serializeAs="String">
                <value>3311335400.369203670118</value>
            </setting>
            <setting name="SLACK_CLIENT_SECRET" serializeAs="String">
                <value>9829279041caa6a2fa14af289dc18184</value>
            </setting>
            <setting name="SLACK_APP_ID" serializeAs="String">
                <value>AAV5ZKQ3G</value>
            </setting>
            <setting name="SLACK_VERIFICATION_TOKEN" serializeAs="String">
                <value>uT8VJeUstUxBHbB03jJzdyca</value>
            </setting>
            <setting name="SLACK_REDIRECT_URL" serializeAs="String">
                <value>http://localhost:50788/</value>
            </setting>
        </AdageTracker.Slack.Properties.Settings>
    </applicationSettings>
</configuration>